<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新增/编辑权限</title>

<!-- 最新的 Bootstrap 核心 css 文件 -->
<!-- 在url上 使用 @标签 可以帮我们 自动加上 contextpath -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/common/jquery-3.4.1.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
</head>
<body>
新增/编辑权限
<form id="edit-form">
  <div class="form-group">
    <label for="name">权限名称</label>
    <input th:value="${p} == null ? '' : ${p.name}" id="name" name="name" type="text" class="form-control" th:readonly="${p} == null ? false : true">
  </div>
  <div class="form-group">
    <label for="uri">权限URI</label>
    <input th:value="${p} == null ? '' : ${p.uri}" id="uri" name="uri" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="c">c</label>
    <input th:checked="${p} == null ? false : ${p.c}" id="c" name="c" type="checkbox" class="form-control">
  </div>
  <div class="form-group">
    <label for="r">r</label>
    <input th:checked="${p} == null ? false : ${p.r}" id="r" name="r" type="checkbox" class="form-control">
  </div>
  <div class="form-group">
    <label for="u">u</label>
    <input th:checked="${p} == null ? false : ${p.u}" id="u" name="u" type="checkbox" class="form-control">
  </div>
  <div class="form-group">
    <label for="d">d</label>
    <input th:checked="${p} == null ? false : ${p.d}" id="d" name="d" type="checkbox" class="form-control">
  </div>
  <div class="form-group" hidden="hidden">
    <label for="id">id</label>
    <input th:value="${p} == null ? '' : ${p.id}" id="id" name="id" type="text" class="form-control" readonly>
  </div>
</form>
<button id="modify-submit" class="btn btn-default">确定</button>

<!--javascript-->
<script type="text/javascript">
  $(function modify() {
    $("#modify-submit").click(function () {
      console.log("modify submit");
      var uri = "/oa/permission/modify";
      var formObj = {};
      var formArr = $("#edit-form").serializeArray();
      $.each(formArr, function (i, item) {
        formObj[item.name] = item.value;
      });
      formObj["c"] = $("#c").is(':checked');
      formObj["r"] = $("#r").is(':checked');
      formObj["u"] = $("#u").is(':checked');
      formObj["d"] = $("#d").is(':checked');
      $.ajax({
        type : "post",
        url: uri,
        contentType: "application/json",
        data: JSON.stringify(formObj),
        datatype: "json",
        success: function (msg) {
          console.log("success: " + JSON.stringify(msg));
          if (msg.code == "success"){
            window.location.href = "/oa/permission/list";
          }
        },
        error: function (msg) {
          console.log("error: " + JSON.stringify(msg))
        }
      })
    });
  })
</script>
</body>
</html>